<div class="pinata_container"><div class="pinata"><img src="images/pinata.gif"></div></div>

<div class="aboutme"><p> ¡Hola! ¡Bienvenidos to Juan in a Million, the numero uno location for the most authentic Mexican dishes served from a food truck!</p>

<p>Juan in a Million was founded in 1985 when Juan Rodriguez Banderas III retired from the professional luchador circuit to follow his calling to introduce his family's century-old burrito recipe to the United States.</p>

<p>With nothing but a pound of beef, a handful of flour tortillas, and a state-of-the-art food truck, Juan opened his <a id="imageLink">first location</a> in the middle of the New Mexican desert.</p>

<p id="desertImage"><img src="images/desert.png" width="500px"></p>

<p>Unfortunately, the food truck had to close down soon after due to zoning issues.</p>

<p>Soon after, Juan reopened in a scenic hole in the wall in New York City, where his iconic food truck brings joy to millions from his coveted No Standing spot.</p>
</div>
