<form action="/contact" method="post">
  <input type="text" name="email" id="email" placeholder="Your Email Address" /><br />
  <textarea name="body" id="body" placeholder="Body" cols="30" rows="10"></textarea><br />
  <input type="submit" value="Si!" />
</form>