<div id="juanContainer">
    <div id="restaurantBox">
        <p id="welcome">Bienvenidos!</p>
    </div>
    <div id="bigJuan">
        <img src="/images/juan2.png">
    </div>


    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
    <img class="juan" src="/images/juan2.png" height="100" width="100">
</div>