<!DOCTYPE html>
<html>
    <head>
        <title>Juan in a Million</title>
        <link rel="stylesheet" type="text/css" href="style.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul id="leftNav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/menu">Menu</a></li>
                </ul>
                <ul id="rightNav">
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
                <div id="logo">
                    <h1>Juan in a Million</h1>

                </div>

            </div>




        </header>
        <%= yield %>

    </body>



    <footer>
        <audio autoplay>
<!--            <source src="/images/ring_of_fire.mp3" type="audio/mpeg">-->
        </audio>
    </footer>





</html>