<h1 id="menuh1">Menu</h1>
<div id="specialties">
    <h2 class="menu">House Specialties</h2>
    <div class="menu">
        <h3>Montezuma's Revenge</h3>
        <p>Pan-fried chorizo dunked in a large vat of refried beans, topped with copious amounts of melted cotija cheese.</p>
        <img src="/images/revenge.jpg">
    </div>
    <div class="menu">
        <h3>Ring of Fire</h3>
        <p>Refried beans doused in heinously spicy habanero pepper hot sauce. This dish is basically inedible.</p>
        <img src="/images/ringoffire.jpg">
    </div>
    <div class="menu">
        <h3>Tijuana Terror</h3>
        <p>Questionably cooked pork coated in refried beans and lard</p>
        <img src="/images/terror.jpg">
    </div>
    <div class="menu">
        <h3>Mondongo</h3>
        <p>Traditional Mexican tripe soup</p>
        <img src="/images/mondongo.jpg">
    </div>
</div>
<div id="tipicos">
    <h2 class="menu">House Specialties</h2>
    <div class="menu">
        <h3>Bandeja Paisa</h3>
        <p>Copious amounts of chicharrones, rice, beans, ground beef, arepas, platano, avocado, and egg. An epic gut buster.</p>
        <img src="/images/bandeja.jpg">
    </div>
    <div class="menu">
        <h3>Pupusas</h3>
        <p>Salvadoran style griddle cakes. Filling options include, pork, cheese, pork and cheese, shredded beef, bean, and vegetable.</p>
        <img src="/images/pupusa.jpg">
    </div>
    <div class="menu">
        <h3>Mole Poblano</h3>
        <p>Slow cooked chicken in rich Oaxacan style Mole poblano.</p>
        <img src="/images/mole.jpg">
    </div>
    <div class="menu">
        <h3>Fish Tacos</h3>
        <p>Baja style batter fried whitefish with a creamy cabbage slaw. Double tortillas upon request. </p>
        <img src="/images/taco.jpg">
    </div>
</div>